.title {
  text-align: center;
  color: #fff;
  font-weight: normal;
  font-size: 3.5rem;
  margin: 0px;
}

.play-button {
  display: block;
  max-width: 300px;
  margin: auto;
  margin-top: 25px;
  border-radius: 5px 5px;
  border-width: 0px;
  justify-content: center;
  background-color: #fff;
  padding: 0.5rem 1.5rem;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
}

.play-button:hover {
  background-color: rgb(236, 236, 236);
  cursor: pointer;
}

.container {
  margin-top: 15%;
}
