html {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(
    270deg,
    #ff0000,
    #cabe0c,
    #00903f,
    #00ffeb,
    #0027ff,
    #8d00ff,
    #ff00d4
  );
  background-size: 1400% 1400%;

  -webkit-animation: BackgroundAnimation 60s ease infinite;
  -moz-animation: BackgroundAnimation 60s ease infinite;
  animation: BackgroundAnimation 60s ease infinite;
}

@-webkit-keyframes BackgroundAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes BackgroundAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes BackgroundAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
